.infoBook {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    img {
        max-width: 300px;
        max-height: 500px;
    }
    .info {
        max-width: 60%;
    }
}
